.fs-7 {
  font-size: 0.75rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

html {
  background-color: #f4f2ee;
}

.bg-linkedin {
  background-color: #f4f2ee;
}

.px-footer {
  padding-inline: 8rem !important;
}

#link:hover {
  color: black !important;
}
#link p:hover {
  color: black !important;
}

#myFooter a:hover {
  color: black !important;
}
#myFooter p:hover {
  color: black !important;
}

#close-btn {
  top: 10px;
  right: 10px;
}

#img-btn {
  width: 48px;
  height: 48px;
}
#img-btn img {
  width: 48px;
  height: 48px;
}

#user-info p:nth-child(3):after {
  content: " • ";
}

#follow-btn {
  top: 0px;
  right: 10px;
}

#bg-img {
  background-color: #d9e2ed;
}

#heart-btn,
#congrats-btn {
  margin-left: -10px;
}
