.fs-7 {
  font-size: 0.85rem !important;
}

.fs-8 {
  font-size: 0.5rem !important;
}

html {
  background-color: #f4f2ee;
}

.bg-linkedin {
  background-color: #f4f2ee;
}

.px-footer {
  padding-inline: 8rem !important;
}

#link:hover {
  transition: 0.3s ease;
  color: black !important;
}
#link p:hover {
  transition: 0.3s ease;
  color: black !important;
}

#myFooter a:hover {
  transition: 0.3s ease;
  color: black !important;
}
#myFooter p:hover {
  transition: 0.3s ease;
  color: black !important;
}

.px-custom {
  padding-inline: 18.5rem !important;
}

#userField {
  position: relative;
}

#btn-camera {
  position: absolute;
  right: 25px;
  top: 15px;
}

#addPhoto {
  position: absolute;
  bottom: -35px;
  left: 10px;
}

#userNoPhoto {
  position: relative;
}
.slick-prev:before,
.slick-next:before {
  color: gray !important;
}

.slick-prev:before {
  display: none;
}

.showBtns:hover {
  transition: 0.3s ease;
  background-color: #f3f3f3 !important;
}

.bg-blu-linkedin {
  background-color: #0a66c2 !important;
}

.border-linkedin {
  background-color: #0a66c2 !important;
}

.text-linkedin {
  color: #0a66c2 !important;
}

.blueBtns:hover {
  transition: 0.3s ease;
  background-color: #ebf4fd !important;
  border-color: #024383 !important;
}

.deepBtns:hover {
  transition: 0.3s ease;
  background-color: #004182 !important;
}

.blackBtns:hover {
  transition: 0.3s ease;
  background-color: #f3f3f3 !important;
  border-color: black !important;
  color: black !important;
}

.pencilBtns:hover {
  background-color: #f3f3f3 !important;
}

#userImage {
  width: 128px;
  height: 128px;
}

.profileControls:hover {
  border: 2px solid black !important;
}
.profileControls:focus {
  border: 3px solid black !important;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 32px 4px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
}

#NavBar {
  z-index: 1000;
}

.top-50 {
  top: 86px !important;
}
